{{#alerts}}
{{commonAnnotations.icon}} **{{status}}**
{{#labels}}
{{alertname}} **{{severity}}** {{icon}}
{{role}} @ {{instance}} on {{env}}
{{/labels}}
{{annotations.summary}}
[link]({{{generatorURL}}})
__
{{/alerts}}
